* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}

a:link {
    color: #0033ff;
}
a:visited {
    color: #0033ff;
}
a:active {
    color: #0033ff;
}
a:hover {
    color: #0033ff;
}

input.button {
    color: #0033ff;;
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}

body {

}

caption {
    padding-bottom: 10px;
    font-weight: bold;
}

th,td {
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-top: 2px;
}

