/** Swinburne University of Technology Website: import CSS
 *  Cascade Style Sheet file including Styles destined to the
 *  default presentation of the website
 *
 *  MODIFIED:
 *  version 1.0, 26 April 2007
 *********************************************************************/
 /*MODIFIED:
 * 10 November 2011
 * Robyn Ius 
 *
 * MODIFIED: Change the header banner and right coloured column
 * 28 November 2011
 * Reece Dixon  
*********************************************************************/

/* 
*	removes default margins from all tags  (caused issues with <p> tags)
* 	- have moved to <body> style as this appeared to be the only area it was needed in
* 	{ padding: 0; margin: 0; }
*/

/* 	Default styles implemented on the website */
body {
    color: #666666;
    font-family: Arial,Geneva,Helvetica;
    font-size: 0.75em;
    margin: 0;
    
}

table {
    font-size: 1em;
}

#main {
    background: none repeat scroll 0 0 #EFEFEF; /*edited Reece Dixon*/
}

#container {
    background: none repeat scroll 0 0 #FFFFFF;/*edited Reece Dixon*/

}

#historytable {
    background-color: #FFFFFF; /*edited for OPA*/
    width: 1024px;
}

#wrapper {
    background: url("../images/wrapper-background.gif") repeat-y scroll 0 0 #FFFFFF;/*edited Reece Dixon*/
}

#wrapper-sidebar {
    background: url("../images/wrapper-sidebar-background.gif") repeat-y scroll 0 0 #FFFFFF;
    width: 987px;
}

h1 {
    font-size: 1.7em;/*font-size:23px;*/
    margin-left: 20px; /*Edited Stephen Blatancic*/
}

h2 {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
}

h3 {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}

h4 {
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}

p {
    line-height: 1.2em;
}
/*
#redLinks a, a:link, a:visited,  {  /*Edited Robyn Ius*/
/*    color: #F21C00;
    text-decoration: underline;
}

/*#redLinks, a:hover {  /*Edited Robyn Ius*/
 /*   color: #F21C00;
    text-decoration: none;
}
*/
a, a:link, a:visited { /*this controls the back to top link*/
    color: #F21C00;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}
#toTop{
    margin: 0 0 0 13px;
}
.footer, .footer2 {
    font-size: 0.95em;
    padding: 6px 6px 1px;
    text-decoration: none;
}

.footer2 {
    padding: 0 6px 6px;
}

.footertable {
    border-top: 1px solid #FFFFFF;
}

.footertable2 {
    border-top: medium none;
}

#footer {
    background-color: #EEEEEE;
    color: #7D7D7D;
    height: 52px;
    margin: 40px 0 0 0; /*Edited 0 left 28Nov Robyn Ius*/
    min-width: 987px;
    padding: 0;
}

#foot {
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 10px 5px 6px 5px;  /*Edited 5px left 28Nov Robyn Ius*/
    width: 971px;
}

* html #foot {
    margin-left: 5px;
}

#foot ul {
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#foot ul li {
    border-right: 1px solid #B0B0B0;
    color: #7D7D7D;
    float: left;
    font-size: 0.9em;
    height: 1em;
    line-height: 1em;
    margin: 0;
    padding: 2px 3px 2px 4px;
}

#foot ul li a {
    color: #737373;
    text-decoration: underline;
}

#foot ul li.last {
    border: medium none;
}

#header {
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    height: 113px;
    overflow: hidden;
}

#header.small {
    height: 73px;
}

#header .left {
    float: left;
    margin-right: -385px;
    position: relative;
    width: 385px;
}

#header .right {
    float: right;
}

div#column {
    background: url("../images/leftnav_background.gif") no-repeat scroll left bottom transparent;/*Edited transparent Reece Dixon*/
    border-right: 1px solid #FFFFFF;
}

div#column1 {
    float: left;
    margin: 0;
    padding: 0;
    width: 731px;
}

div#column2 {
    float: left;
    margin: 0;
    padding: 0;
    width: 255px;
}

div#navcol {
    float: left;
    padding: 0;
    width: 184px;
}

div#content-col {
    
    float: left;
    margin-left: 15px;
    padding: 12px 0 40px;
    width:68%;
}
/* OPA style for View Risk and View Status 
div#content-col#viewRisk {
    background-color: #F1F1F1;
}*/

/*.statusgrp{
    width:100%;
    float:left;
    
}*/

.labeladd{
    float: left;
    padding:2px;
    margin:2px;
    font-weight: bold;
    width:200px;   
}

#viewRisk
 { 
    background-color: #F1F1F1;
    padding:2px;
    margin:2px;
    width:97%;
}

#viewthestatus{

    padding:2px;
    margin:2px;
    width:97%;
}

/*this styles a label on the view risk page*/
.labelView {
    
    float: left;
    padding:2px;
    margin:2px;
    font-weight: bold;
    width:200px;
}

/*this styles a group of label and field on the view risk page*/
.viewgroup{
    width:100%;
    float:left;
}

/*this styles a field on the view risk page*/
.fieldstatus {
    
    float: left;
    padding:2px;
    margin:2px;
    width:350px;
}

.fieldthestatus {
    
    float: left;
    padding:2px;
    margin:2px;
    width:350px;
}

div#content-col-sidebar {
    float: left;
    margin-left: 15px;
    padding: 12px 0 40px;
    width: 520px;
}

div#sidecol {
    border-top: 1px solid #FFFFFF;
    float: right;
    padding-bottom: 30px;
    width: 255px;
}

div#column2 div#sidecol {
    border-top: medium none;
}

/* ie hack required to ensure <table width="100%"> does not break floats */
/*hide from IE mac\*/
.clear {  
    clear: both;
    display: block;
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

* html #content-col {
    height: 1%;
}
/*end hide*/ 

#banners {
    background: url("../images/banners/banner_level2_left.gif") no-repeat scroll 0 0 #D8CDBB;/*edited Reece Dixon 28 Nov 2011*/
}

#banners p {
    margin: 0;
}

#banners p span {
    display: none;
}

#banners p {
    height: 48px;
    margin: 6px 0 0 194px;
    width: 500px;
}

#banners p#banner-logo {
    background: url("../images/banners/swinburne_logo.gif") no-repeat scroll 0 0 transparent; /*edited Reece Dixon 28 Nov 2011*/
    height: 91px;
    margin: 0 0 0 94px;
    width: 179px;
}

#banners div {
    background: none no-repeat scroll right top transparent;/*Removed Image -edited Reece Dixon 28 Nov 2011*/
}

#column2 #banners div {
    background: url("../images/banners/research/banner_research_right.gif") no-repeat scroll right top transparent;
    margin-right: 255px;
}

#column1 #banners div {
    border-right: 1px solid #FFFFFF;
}

#banner {
    border-right: 1px solid #FFFFFF;
    clear: left;
    color: #FFFFFF;
    margin-bottom: 1px;
    overflow: hidden;
}

#banner_left {
    float: left;
    position: relative;
    width: 184px;
}

#banner_right {
    margin-left: 184px;
    padding: 0;
    text-indent: -999px;
}

.large {
    height: 193px;
}

.small {
    height: 145px;
}

#logo {
    background: url("../images/banners/swinburne_logo.gif") no-repeat scroll left top transparent;/*edited Reece Dixon 28 Nov 2011*/
    height: 91px;
    left: 94px;
    position: absolute;
    text-indent: -999px;
    top: 66px;
    width: 179px;
    z-index: 1;
}

/* google results page */
.j {
    font-size: 16px;
}

/* Edited Mikhail Kotov */
td.historyodd {
    background-color: #EEEEEE;
}

/* Edited Mikhail Kotov */
td.historyeven {
    background-color: #F8F8F8;
}
/*Edited Robyn Ius*/
div#welcome_screen {
    background-color: #F1F1F1;
}

