/** Swinburne University of Technology Website: import CSS
 *  Cascade Style Sheet file including Styles destined to the
 *  default presentation of the website
 *
 *  MODIFIED:
 *  version 1.0, 26 April 2007
 */


/* 
removes default margins from all tags  (caused issues with <p> tags)
 - have moved to <body> style as this appeared to be the only area it was needed in
* { padding: 0; margin: 0; }
*/

/* 	Default styles implemented on the webstie */
body {
	margin:0;
	font-size: 0.75em;
	font-family: Arial,Geneva,Helvetica;
	color: #666;
}

/*
	Quirks mode problem - 
	Table cells don't inherit the body font size, is there a better way of getting around this?
*/

table {
	font-size: 1em;
}

#main {
	background:#efefef;
	
	
}
#container {
	width: 987px;
	background: #fff;
}

#wrapper {
	width: 987px;
	background: #fff url(../images/wrapper-background.gif) scroll repeat-y;
	
}

#wrapper-sidebar {
	width: 987px;
	background: #fff url(../images/wrapper-sidebar-background.gif) scroll repeat-y;
}


/*
 	Heading Style classes used to define the appearance of
 	the headings, note that is a cascade of the main_table class,
 	this is provided as an option to the Content Styles
	example: <h1>Heading 1</h1>
*/

h1 {
    /*font-size:23px;*/
	font-size: 1.7em;
	 
}

/*#logo h1, #banner h1 { 	position: absolute; left: -1000px; }*/

h2 {
	font-size:14px;
	line-height:17px;
	color:#000;
	font-weight: bold; 
}

h3 {
    font-size:12px;
	line-height:15px;
	color:#000;
	font-weight: bold; 
}

h4 {
    font-size:12px;
	color:#666;
	line-height:15px;
	font-weight: bold; 
}

p{

	line-height:1.2em;
}

/*
  	Link Style classes used to define the Default 
	appearance of links
*/

a, a:link, a:visited, a:hover {
	color: #f21c00;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/* Table version - Footer - to be removed */
.footer, .footer2 
{
	font-size: 0.95em;
	text-decoration: none;
	padding: 6px 6px 1px 6px;
}

.footer2 
{
	padding: 0px 6px 6px 6px;
}

.footertable 
{
	border-top: 1px solid #fff;
}

.footertable2
{
	border-top: none;
}

#footer {
	color: #7d7d7d;
 	padding: 0px;
 	margin: 40px 0px 0px 0px;
	padding: 0px;
	height: 52px;
	background-color: #eee;
	min-width: 987px
}

#foot {
	padding: 10px 5px 6px 5px;
	background: #eee;
	width: 971px;
}
* html #foot {
	margin-left: 5px
}
#foot ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
}
#foot ul li {
	float: left;
	margin: 0;
	color: #7d7d7d;
	padding: 2px 3px 2px 4px;
	height: 1em;
	line-height: 1em;
	border-right: 1px solid #b0b0b0;
	font-size: .9em;
}

#foot ul li a{
	color: #737373;
	text-decoration:underline;
}

#foot ul li.last {
	border: none;
}

/* Old Page Banners */
#header {
	overflow: hidden;
	border-bottom: 1px solid #FFF;
	border-right: 1px solid #FFF;
	height: 113px;
}
#header.small { height: 73px }
#header .left { float: left; width: 385px; margin-right: -385px; position: relative }
#header .right { float: right; }

/* -------------------------------------------------
 * Three column layout (table-free)
 *
 * The code automatically adjusts for both full-width 
 * banner & nested banner pages.
------------------------------------------------- */
div#column { background: url('../images/leftnav_background.gif') no-repeat bottom left; border-right: 1px solid #fff;}
div#column1 { margin: 0; padding: 0; float: left; width: 731px; }
div#column2 { margin: 0; padding: 0; float:left; width: 255px; }
div#navcol { padding: 0; width: 184px; float: left; }
div#content-col { margin-left: 15px; padding:12px 0 40px; float:left; width: 720px; }
div#content-col-sidebar { margin-left: 15px; padding:12px 0 40px; float:left; width: 520px; }
div#sidecol { width: 255px; float: right; padding-bottom:30px; border-top:1px solid #fff;}
div#column2 div#sidecol { border-top: none; }
.clear { clear: both; display: block; height: 1px; overflow: hidden; margin: 0; padding: 0; }
/* ie hack required to ensure <table width="100%"> does not break floats */
/*hide from IE mac\*/
* html #content-col { height:1%; }
/*end hide*/ 


/* -------------------------------------------------
 * New Banner
------------------------------------------------- */
#banners { background:#D8CDBB url('../images/banners/banner_level2_left.gif') no-repeat;}
#banners p { margin:0; }
#banners p span { display:none; }
#banners p { width:500px; height:48px; margin:6px 0 0 194px; }
#banners p#banner-logo { background:transparent url('http://localhost/images/banners/swinburne_logo.gif') no-repeat; width:179px; height:91px; margin:0 0 0 94px; }
#banners div { background:transparent url('../images/banners/banner_corporate_right.gif') scroll no-repeat right top; }
#column2 #banners div { background:transparent url('/images/banners/research/banner_research_right.gif') scroll no-repeat right top;margin-right:255px; }
#column1 #banners div { border-right: 1px solid #fff; }


/* New Page Banners */
#banner{
	clear: left;
	overflow: hidden;
	margin-bottom: 1px;
	color: #FFF;
	border-right: 1px solid #fff;
}

#banner_left { 
	float: left;
	width: 184px; 
	position: relative;
}

#banner_right { 
	margin-left: 184px; 
	padding: 0px 0px 0px 0px;
	text-indent: -999px;
}

.large {
	height: 193px;
}

.small {
	height: 145px;
}

#logo {
	position: absolute;
	top: 66px;
	left: 94px;
	z-index: 1;
	height: 91px;
	width: 179px;
	text-indent: -999px;
	background: url('../images/banners/swinburne_logo.gif') no-repeat left top;
}

/* google results page */
.j {
font-size:16px;
}