/** Swinburne University of Technology Website: navigation left CSS
 *  Cascade Style Sheet file including Styles destined to presentation 
 *  of the left navigation area of the website
 *
 *  MODIFIED:
 *  version 1.0, 28 June 2004.
 * @version 1.1, 08 September 2004. Images with absolute directory
 * @version 1.2, 27 October 2004. font size in ems instead of px
 * @version 1.3, 30 November 2004. font size decreased one point down
 * @version 1.4, 17 March 2005. deeper red for links, change in border color
 * @version 1.5, 29 June 2005. font size changed from 0.70em to 0.75em
 * @author David Jimenez david@swin.edu.au
 */

/**
 * nav_left class used to define the major container for the left navigation
 * usually is implemented in the "td" tag of an outer table
 * example: &lt;td class="nav_left">----content-------&lt;/td>
 */
 input.button { /*this style was updated to change the nav buttons Robyn 2Nov */
    color: #000000;
    border: none;
    background: none;
    text-decoration: none;
    cursor: hand;
}

 
#left_menu a { 
	color:#000; 
	text-decoration: none;
}

.nav_left {
	background: #f1f1f1;
	vertical-align: top; 
	width: 184px;
}

.nav_left p {
	padding: 0 6px 0 8px;
	margin: 6px;
	line-height: 135%;
}

/**
 * Table Style classes used to define the appearance of the
 * tables in the left navigation
 */	

table .nav_left_table {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}

.nav_left_table td {
	height: 20px;		
}

.nav_left_table th {
	height: 24px;
}

.nav_left_nested
{
	color: #333;
	text-decoration: none;	
}

.nav_left_nested
a:link
{
	color: #333;
	font-size: 0.75em;
	text-decoration: none;
}

.nav_left_nested
a:visited
{
	color: #333;
	font-size: 0.75em;
	text-decoration: none;
}

.nav_left_on
{
	color: #333;
	text-decoration: none;
	font-weight: bold;
}

/**
 * Miscelanous Style classes, used to define extra classes
 * for particular purposes
 */

/** class that adds a white border beneath the content
*/

.nav_left_border {
	border-bottom: 1px solid #fff;
	vertical-align: top;	
	padding: 2px 0px 2px 0px;
}

/* Styling of the menu */
#left_menu {
	margin: 0;
	padding: 0;
	width: 184px;
	padding-bottom: 130px;
	/*line-height: 1em;*/
}

#left_menu ul {
	margin: 0 0 0 18px;
	padding: 12px 0 0 0;
}

#left_menu ul li {
	margin: 0;
	list-style-type: none;
	border-bottom: 1px solid #fff;
}
#left_menu ul li a {
	background: transparent url(../images/icons/arrow-leftnav.gif) scroll no-repeat 7px 8px;
	display:block;
	padding: 3px 3px 5px 16px;
	/*font-size:12px;*/
}
#left_menu ul li a:hover {
	background-image: url(../images/icons/arrow-leftnav-hover.gif);
	color:#fff;
	/*background-color:#ccc;*/
	background-color:#b4b4b4;
}
* html #left_menu ul li { 
	height: 1%; /* IE6 < force 'hasLayout' */
	/* padding: 4px 4px 4px 16px; */	
} 

* html #left_menu ul li a {
	height: 1%; /* IE6 < force 'hasLayout' */
} 

#left_menu ul li ul {
	display: none;
	margin: 0;
	padding: 0;
}

#left_menu ul li.top_item {
	border-top: 1px solid white;
}

#left_menu ul li.selected {
	font-weight: bold;
}
#left_menu ul li.selected a {
	background-color:#e6e6e6;
	background-image: url(../images/icons/arrow-leftnav.gif);
}
#left_menu ul li.selected a:hover {
	background-image: url(../images/icons/arrow-leftnav-hover.gif);
	/*background-color:#ccc;*/
	background-color:#b4b4b4;
}


#left_menu ul li.selected ul {
	display: block;
	padding: 0;
	margin: 0;
	background: #f1f1f1;
}

#left_menu ul li.selected ul li {
	display: block;
	padding-left: 10px;
	margin: 0;
	border: 0;
	font-weight: normal;
}
#left_menu ul li.selected ul li a {
	background: #e6e6e6 url(../images/icons/arrow-leftnav.gif) scroll no-repeat 7px 10px;
	padding: 5px 3px 5px 16px;
	color:#000;	
	border-top: 1px solid #fff;
	/*font-size:12px;*/
	font-size: 0.95em;
	
}
#left_menu ul li.selected ul li a:hover {
	background-image: url(../images/icons/arrow-leftnav-hover.gif);
	color:#fff;
	/*background-color:#ccc;*/
	background-color:#b4b4b4;
}

#left_menu ul li.selected ul li.selected a {
	background: #e6e6e6 url(../images/icons/arrow-leftnav.gif) scroll no-repeat 7px 10px;
	padding: 5px 3px 5px 16px;
	color:#000;	
	border-top: 1px solid #fff;
	/*font-size:12px;*/
	font-size: 0.95em;
	font-weight: bold;
}
#left_menu ul li.selected ul li.selected a:hover {
	background-image: url(../images/icons/arrow-leftnav-hover.gif);
	color:#fff;
	/*background-color:#ccc;*/
	background-color:#b4b4b4;
}




/** 
 * Related links
 * Shown in the left hand nav bar, below the main left nav
 *
*/
#related-links { width: 184px; background: transparent url(../images/leftnav-related.gif) scroll no-repeat 24px 0; padding-top:20px; margin-top:25px; }

#related-links a { 
	color:#000; 
	text-decoration: none;
}

#related-links ul {
	margin: 0 0 0 18px;
	padding:0;
}

#related-links ul li {
	margin: 0;
	list-style-type: none;
	border-bottom: 1px solid #fff;
}
#related-links ul li a {
	background: transparent url(../images/icons/arrow-leftnav.gif) scroll no-repeat 7px 8px;
	display:block;
	padding: 3px 3px 5px 16px;
	font-size:12px;
}
#related-links ul li a:hover {
	background-image: url(../images/icons/arrow-leftnav-hover.gif);
	color:#fff;
	background-color:#ccc;
}
* html #related-links ul li { 
	height: 1%;
} 

* html #related-links ul li a {
	height: 1%;
} 

#related-links ul li ul {
	display: none;
	margin: 0;
	padding: 0;
}

#related-links ul li.top_item {
	border-top: 1px solid white;
}

#related-links ul li.selected {
	font-weight: bold;
}
#related-links ul li.selected a {
	background-color:#e6e6e6;
	background-image: url(../images/icons/arrow-leftnav.gif);
}
#related-links ul li.selected a:hover {
	background-image: url(../images/icons/arrow-leftnav-hover.gif);
	background-color:#ccc;
}


#related-links ul li.selected ul {
	display: block;
	padding: 0;
	margin: 0;
	background: #f1f1f1;
}

#related-links ul li.selected ul li {
	display: block;
	padding-left: 10px;
	margin: 0;
	border: 0;
	font-weight: normal;
}
#related-links ul li.selected ul li a {
	background: #e6e6e6 url(../images/icons/arrow-leftnav.gif) scroll no-repeat 7px 10px;
	padding: 5px 3px 5px 16px;
	color:#000;	
	border-top: 1px solid #fff;
	font-size:11px;
}
#related-links ul li.selected ul li a:hover {
	background-image: url(../images/icons/arrow-leftnav-hover.gif);
	color:#fff;
	background-color:#ccc;
}