/** Swinburne University of Technology Website: Navigation Right CSS
 * 	Cascade Style Sheet file including Styles destined to presentation 
 *  of the right navigation area of the website
 *
 *  MODIFIED:
 *  version 1.0, 26 April 2007
 *  version 2.0, 27 February 2008
**/

/*  New Template Styles --------------------------*/

div#sidecol p { 
padding: 0px 15px 0px 15px;
color: #7E5936;
}

/* -------------------------------------------------
	Side Panel - Quick Search form
------------------------------------------------- */
#sidebar-search, #sidebar-coursesearch {
	/*background-color: #644528;*/
	border-left: none;
	background: url(../images/search_bg_ie.gif) repeat-y;
	padding: 20px 15px;
	/*border-left: 4px solid #febc3e;*/
	color: #fff;
	border-bottom: 1px solid #fff;
}

#sidebar-search h3 {
	background: url('../images/quick-search.gif') no-repeat top left;
	text-indent: -9999px; margin:0; height:20px; padding-bottom: 10px;
}

a.coursesearch-advanced {
	color: #d0c3ab;
	font-size: 0.95em;
	text-decoration: none;
	background: url(../images/icons/arrow4.gif) no-repeat 0px 5px;
	padding-left: 5px;
}

a:hover.coursesearch-advanced {
	text-decoration: underline;
	color: #d0c3ab;
}

#sidebar-coursesearch h3 {
	background: url('/images/home/quickcoursesearch.gif') no-repeat top left;
	text-indent: -9999px; margin:0; height:20px; padding-bottom: 10px;
}

#sidebar-search .searchbox , #sidebar-coursesearch .searchbox{ width:140px; background:#e7dfd1; border:1px solid #4f331c; padding:3px 3px 4px; }
#sidebar-search input.submit, #sidebar-coursesearch input.submit  { vertical-align:top; border:1px solid #644528; padding:0; background:none;}

.search { vertical-align:top; padding:0; background:none; }
* html .search { padding-top: 1px; } /* IE6 */
*:first-child+html .search { padding-top: 1px; } /* IE7 */

#DivStudentValidationDetails, #DivKeywordValidationDetails {
	background: #D8CDBA;
	border: 1px solid #4f331c;
	color: #583411;
	padding: 5px;
	margin-bottom: 5px;
}

/* --------------------------------------------------
	Side Panel - Buttons - Standard
 -----------------------------------------------------*/
div.sidebar-button a:link, .sidebar-button a:visited, div.sidebar-button-green a:link, .sidebar-button-green a:visited, div.sidebar-button-blue a:link, .sidebar-button-blue a:visited {
	min-height: 22px;
	display:block;
	padding: 13px 0 15px 40px;
	font-size: 1.40em; 
	border-bottom: 1px solid #fff;
	font-weight:bold;
	background: #d8cdba url(../images/icons/sidepanel_arrow_corporate.gif) no-repeat 10px 10px;
	text-decoration: none;
	color: #4A2B0C;
}

div.sidebar-button a:hover, div.sidebar-button-green a:hover, div.sidebar-button-blue a:hover {
	min-height: 22px;
	display:block;
	padding: 13px 0 15px 40px;
	font-size: 1.40em; 
	border-bottom: 1px solid #fff;
	font-weight:bold;
	background: #fff url(../images/icons/sidepanel_arrow_corporate.gif) no-repeat 10px 10px;
	text-decoration: none;
	color: #4A2B0C;
}

/* --------------------------------------------------
	Side Panel - Buttons - Green
 -----------------------------------------------------*/
div.sidebar-button-green a:link, .sidebar-button-green a:visited {
	background: #d5f0b5 url(../images/icons/sidepanel_arrow.gif) no-repeat 10px 10px;
	color: #5b7838;
}

div.sidebar-button-green a:hover {
	background: #fff url(../images/icons/sidepanel_arrow.gif) no-repeat 10px 10px;
	color: #5b7838;
}

/* --------------------------------------------------
	Side Panel - Buttons - Blue
 -----------------------------------------------------*/
div.sidebar-button-blue a:link, .sidebar-button-blue a:visited {
	background: #acd1c9 url(../images/icons/sidepanel_arrow_button_blue.gif) no-repeat 10px 10px;
	color: #386578;
}

div.sidebar-button-blue a:hover {
	background: #fff url(../images/icons/sidepanel_arrow_button_blue_over.gif) no-repeat 10px 10px;
	color: #386578;
}

* html div.sidebar-button a:link, div.sidebar-button a:visited, div.sidebar-button a:hover, div.sidebar-button-green a:link, div.sidebar-button-green a:visited,  div.sidebar-button-green a:hover, div.sidebar-button-blue a:link, div.sidebar-button-blue a:visited, div.sidebar-button-blue a:hover {
	/*height: 22px;*/
}


/* ------------------------------------------------
	Side Panel - Quicklinks
  ------------------------------------------------*/
div.sidebar-quicklinks, div.sidebar-quicklinks-green, div.sidebar-quicklinks-blue { 
	background: #E7E0D0;
	border-bottom: 1px solid #fff; 
	padding: 10px 10px 15px 10px;
}

div.sidebar-quicklinks h3, div.sidebar-quicklinks-green h3, div.sidebar-quicklinks-blue h3 { 
	margin: 0; 
	padding: 0 0 0 0px; 
	background: url(../images/icons/sidepanel_arrow_corporate.gif) no-repeat; 
	text-indent: 30px; 
	font-size: 1.45em; 
	height:30px; 
	line-height: 1.4em; 
	border-bottom: 1px solid #d8cdba; 
	color: #4A2B0C;
}

div.sidebar-quicklinks a:link, div.sidebar-quicklinks a:visited, div.sidebar-panel-quicklinks a:hover, div.sidebar-quicklinks-green a:link, div.sidebar-quicklinks-green a:visited, div.sidebar-panel-quicklinks-green a:hover, div.sidebar-quicklinks-blue a:link, div.sidebar-quicklinks-blue a:visited, div.sidebar-panel-quicklinks-blue a:hover { color:#7E5936; }

div.sidebar-quicklinks ul, div.sidebar-quicklinks-green ul , div.sidebar-quicklinks-blue ul  
{
	margin: 15px 0px 0px 2px; 
	padding:0; 
}

div.sidebar-quicklinks li, div.sidebar-quicklinks-green li, div.sidebar-quicklinks-blue li  { 
	list-style-type: none; 
	background: url(../images/icons/sidebar-panel-quicklink-bullet-corporate.gif) no-repeat 5px 6px;
	padding-left: 1.5em; 
	padding-bottom: 0.6em; 
}

div.sidebar-quicklinks p, div.sidebar-quicklinks-green p, div.sidebar-quicklinks-blue p { 
	color:#7E5936;
	padding-left: 7px;
}

/* ------------------------------------------------
	Side Panel - Quicklinks - Green
  ------------------------------------------------*/
div.sidebar-quicklinks-green { 
	background: #9ac36a;
}

div.sidebar-quicklinks-green h3 { 
	background: url(../images/icons/sidepanel_arrow_quicklinks.gif) no-repeat; 
	border-bottom: 1px solid #a9d07b;
	color: #fffc97; 
}

div.sidebar-quicklinks-green a:link, div.sidebar-quicklinks-green a:visited, div.sidebar-panel-quicklinks-green a:hover { color:#fff; }


div.sidebar-quicklinks-green li  { 
	background: url(../images/icons/sidebar-panel-quicklink-bullet.gif) no-repeat 5px 6px;
}

div.sidebar-quicklinks-green p { 
	color:#fff;
}

/* ------------------------------------------------
	Side Panel - Quicklinks - Blue
  ------------------------------------------------*/
div.sidebar-quicklinks-blue { 
	background: #74AB9e;
}

div.sidebar-quicklinks-blue h3 { 
	background: url(../images/icons/sidepanel_arrow_quicklinks-alt.gif) no-repeat;
	border-bottom: 1px solid #acd1c9;
	color: #fffc97; 
}

div.sidebar-quicklinks-blue a:link, div.sidebar-quicklinks-blue a:visited, div.sidebar-panel-quicklinks-blue a:hover { color:#fff; }


div.sidebar-quicklinks-blue li  { 
	background: url(../images/icons/sidebar-panel-quicklink-bullet.gif) no-repeat 5px 6px;
}

div.sidebar-quicklinks-blue p { 
	color:#fff;
}
 
/* -------------------------------------------------
	Side Panel - Right column Images
------------------------------------------------- */
div.sidebar-img { border-bottom:1px solid #fff; text-align:right; line-height: 8px; }



/*  Old Template Styles --------------------------*/
.nav_right
{	
	border-right:1px solid #FFFFFF;
	vertical-align: top;
}

/*
  	Content Style classes used to define the appearance of
	the fonts, usually is implemented in the "td" tag of the
	corresponding table or in independent tags like "<div>" or "<span>"
	example: <span class="nav_right_text">----content-----</span>
*/

.nav_right_title_black
{
	font-size: 1.1em;
	color: #666;
	font-weight: bold;
}

/*
  	Table Style classes used to define the appearance of the
  	tables in the left navigation
*/		

table .nav_right_table {
	padding: 0;
	margin: 0;
	width: 178px;
}
